@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  /* background-color: #000B18; */
}


.outline-text {
  -webkit-text-stroke: 1px #00ffff; /* Cyan outline */
  -webkit-text-stroke: 2px #00ffff;
  color: transparent;
  
}
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8);
}

.glow-effect {
  position: absolute;
  top: -50px;
  left: -150px;
  width: 600px;
  height: 400px;
  background: radial-gradient(circle, rgba(6, 222, 255, 0.6) 0%, transparent 60%);
  filter: blur(80px);
  pointer-events: none;
  z-index: 0;
}

.custom-border {
  position: relative;
  width: 90%;
  height: 90%;
  border: 2px solid;
  border-image-source: linear-gradient(
      90deg, 
      rgba(7, 234, 211, 0) 1.96%, 
      rgba(7, 234, 211, 0.28) 27.38%, 
      #26DDFF 73.78%, 
      rgba(38, 221, 255, 0) 95.38%
  );
  border-image-slice: 1;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.srvice-card{

  background: linear-gradient(180.52deg, rgba(6, 255, 240, 0.13) 0.45%, rgba(65, 65, 65, 0.13) 99.55%);
}



